a {
	color: black;
	text-decoration: none;
}
ul {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	
    font-family: 'Arial', sans-serif;
    font-size: 18px;

    color: var(--tg-theme-text-color);
    background: linear-gradient(0deg, rgb(205, 247, 253), rgb(255, 246, 182)) fixed;
}

.container {
	
}

.nav-container {
	
}

.bottom-nav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 10%;
    bottom: 0;

	margin: 1%;
    padding: 8px 0px 0px 0px;
    z-index: 100;

    border-radius: 0.7em;

    background: #fff6;
    box-shadow: 0 -1px 15px rgba(0, 0, 0, .05);
    backdrop-filter: blur(15px);
}
.bottom-nav a {
    float: left;
    display: flex;
    flex-direction: column;
    row-gap: .50rem;

    align-items: center;
    text-align: center;

    font-size: 13px;
    font-weight: 700;
}
.bottom-nav a.active {
    
}

.user-nav a {
    display: flex;
    align-items: center;

    text-align: center;
}
.user-name {
    margin-right: 5px;
}
.user-img {
    width: 35px;
    border-radius: 50%;
    margin: 10px 15px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-img {
    width: 35px;
}

.content {
    
}

.container-nav-pills {
    margin: 8px;
    padding: 5px;
    
    background: #fff5;
    border-radius: 0.5em;

    box-shadow: 0 -1px 15px rgba(0, 0, 0, .05);
    
    font-size: 15px;
}
.nav-soon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-soon-text {
    
}
.nav-lock-img {
    margin-right: 5px;
    width: 15px;
    height: 20px;
}


.business-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    
    padding-bottom: 70px;
}

.business-card {
    margin: 10px;
    
    background: #fff5;
    border-radius: 15px;
    
    backdrop-filter: blur(10px);
}
.bcard-inner {
    margin: 8%;
    
}

.bcard-header {
    display: grid;
}
.bcard-name {
    margin: 5px 0px;
    
    font-size: 15px;
    font-weight: 700;
}
.bcard-name1 {
    margin: 5px 0px;
    
    font-size: 11px;
    font-weight: 700;
}
.bcard-lvl {
    display: inline-block;
    
    position: absolute;
    right: 8%;
    
    font-size: 15px;
    
    background: #FFDC3D;
    border-radius: 1em;
    padding: 1px 6px;
}
.bcard-img {
    width: 35%;
    
    border-radius: 10px;
}

.bcard-footer {
    
}
.bcard-income {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1;
    
    align-items: center;
}
.bcard-income-name {
    text-align: start;
    font-size: 12px;
}
.bcard-income-val {
    position: absolute;
    right: 0%;
    
    width: 35%;
    text-align: center;
    
    margin: 8%;
    font-size: 14px;
    
    background: #FFDC3D;
    border-radius: 1em;
}

.bcard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 10% 0px;
    width: 100%;
    
    border: none;
    border-radius: 0.4em;
    background: #fff5;
}
.bcard-coin {
    width: 20px;
    margin: 5px 8px;
}
.bcard-amount {
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width: 370px) {
	.user-name {
		font-size: 15px;
	}
	.user-img {
		width: 30px;
   		margin: 10px 10px;
	}
}
@media screen and (max-height: 1200px) {
    .business-content {
        padding-bottom: 120px;
    }
}
@media screen and (max-height: 1000px) {
    .business-content {
        padding-bottom: 100px;
    }
}
@media screen and (max-height: 900px) {
    .business-content {
        padding-bottom: 90px;
    }
}
@media screen and (max-height: 700px) {
    .business-content {
        padding-bottom: 90px;
    }
}
@media screen and (max-height: 650px) {
    .business-content {
        padding-bottom: 70px;
    }
}
@media screen and (max-height: 550px) {
    .business-content {
        padding-bottom: 60px;
    }
}