ul {
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
	
    font-family: 'Lato SemiBold';
    font-size: 18px;

    color: black;
    background: -webkit-linear-gradient(0deg, rgb(154, 36, 198), rgb(3, 2, 13) 75%) fixed;
    background: -moz-linear-gradient(0deg, rgb(154, 36, 198), rgb(3, 2, 13) 75%) fixed;
    background: linear-gradient(0deg, rgb(154, 36, 198), rgb(3, 2, 13) 75%) fixed;
}

.wrapper {
	
}

.nav-container {
	
}

.content {
    
}

.container-nav-pills {
    margin: 8px;
    padding: 5px;
    
    background: #fff5;
    border-radius: 0.5em;

    box-shadow: 0 -1px 15px rgba(0, 0, 0, .05);
    
    font-size: 15px;
}
.nav-item a {
    font-family: 'Lato Medium';
    color: white;
}
.nav-soon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-soon-text {
    
}
.nav-lock-img {
    margin-right: 5px;
    width: 15px;
    height: 20px;
}


.business-content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    
    padding-bottom: 70px;
}

.business-card {
    margin: 10px;
    
    background: #fff5;
    border-radius: 15px;
    
    backdrop-filter: blur(10px);
}
.bcard-inner {
    margin: 8%;
    
}

.bcard-header {
    display: grid;
}
.bcard-name {
    margin: 5px 0px;
    
    font-family: 'Lato Black';
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.bcard-name1 {
    margin: 5px 0px;
    
    font-family: 'Lato Black';
    color: white;
    font-size: 11px;
    font-weight: 700;
}
.bcard-lvl {
    display: inline-block;
    
    position: absolute;
    right: 8%;
    
    font-family: 'Lato Black';
    color: black;
    font-size: 15px;
    
    background: gold;
    border-radius: 1em;
    padding: 1px 6px;
}
.bcard-img {
    width: 35%;
    
    border-radius: 10px;
}

.bcard-footer {
    
}
.bcard-income {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1;
    
    align-items: center;
}
.bcard-income-name {
    font-family: 'Lato Semibold';
    color: #141414;
    text-align: start;
    font-size: 12px;
}
.bcard-income-val {
    position: absolute;
    right: 0%;
    
    width: 35%;
    text-align: center;
    
    margin: 8%;
    
    font-family: 'Lato Black';
    color: black;
    font-size: 14px;
    
    background: gold;
    border-radius: 1em;
}

.bcard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    margin: 10% 0px;
    width: 100%;
    
    border: none;
    border-radius: 0.4em;
    background: #fff5;
}
.bcard-coin {
    width: 16px;
    margin: 5px 8px;
}
.bcard-amount {
    font-family: 'Lato Black';
    color: white;
    
    font-size: 15px;
    font-weight: 700;
}


.web3-content {
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    
    margin: 0 auto;
    top: 120px;
    
    padding-bottom: 70px;
}


.Soon-template {
    position: absolute;
    display: flex;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
}
.soon-title {
    font-family: 'Lato Black';
    color: white;
    
    font-size: 20vw;
    font-weight: 700;
}


/* Media width */
@media screen and (min-width: 530px) {
    .web3-content {
        width: 530px;
        
        left: 50%;
        transform: translate(-50%);
    }
}
@media screen and (min-width: 355px) {
    .bcard-name1 {
        font-size: 15px;
    }
}
@media screen and (min-width: 320px) {
    .bcard-name1 {
        font-size: 13px;
    }
}
@media screen and (max-width: 320px) {
    .bcard-name1 {
        font-size: 11px;
    }
}

/* Media height */
@media screen and (min-height: 1200px) {
    .business-content {
        padding-bottom: 10vh;
    }
    .web3-content {
        padding-bottom: 10vh;
    }
}
@media screen and (max-height: 1200px) {
    .business-content {
        padding-bottom: 120px;
    }
    .web3-content {
        padding-bottom: 120px;
    }
}
@media screen and (max-height: 1000px) {
    .business-content {
        padding-bottom: 100px;
    }
}
@media screen and (max-height: 900px) {
    .business-content {
        padding-bottom: 90px;
    }
    .web3-content {
        padding-bottom: 100px;
    }
}
@media screen and (max-height: 700px) {
    .business-content {
        padding-bottom: 90px;
    }
    .web3-content {
        padding-bottom: 90px;
    }
}
@media screen and (max-height: 650px) {
    .business-content {
        padding-bottom: 70px;
    }
    .web3-content {
        padding-bottom: 70px;
    }
}
@media screen and (max-height: 550px) {
    .business-content {
        padding-bottom: 60px;
    }
    .web3-content {
        padding-bottom: 60px;
    }
}