/* Bottom navigation view */
a {
	color: black;
    font-family: "Lato Black";
    
	text-decoration: none;
}

.bottom-nav {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    
    align-items: center;
    
    width: 98%;
    height: 66px;
    bottom: 0;

	margin: 1vw;
    padding: 0px;
    z-index: 100;

    border-radius: 0.7em;

    background: #fff6;
    box-shadow: 0 -1px 15px rgba(0, 0, 0, .05);
    backdrop-filter: blur(15px);
}
.bottom-nav a {
    display: grid;
    
    grid-template-rows: repeat(2, auto);
    row-gap: .20rem;
    
    padding: 7px 5px 5px;

    align-items: center;
    text-align: center;

    font-size: 13px;
    font-weight: 700;
    
    text-decoration: none;
}
.bottom-nav a.active {
    background: #fff3;
    border-radius: 0.7em;
}
.bottom-nav a:active {
    color: black;
}
.nav-img {
    margin: 0 auto;
}


/* User template */
.user-nav {
    display: inline-block;
}
.user-nav a {
    display: flex;
    align-items: center;

    text-align: center;
    
    
    text-decoration: none;
}
.user-name {
    color: white;
    
    margin-right: 5px;
}
.user-img {
    width: 35px;
    border-radius: 50%;
    margin: 12px;
}


/* Logo */
.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-img {
    width: 35px;
}


/* Media height */
@media screen and (min-height: 780px) {
    
}

@media screen and (max-height: 590px) {
    .bottom-nav a {
        font-size: 11px;
    }
}

/* Media width */
@media screen and (max-width: 370px) {
	.user-name {
		font-size: 15px;
	}
	.user-img {
		width: 30px;
   		margin: 10px 10px;
	}
}